.announcement{
    background: #00316e;;
    width: 64%;
    margin: 100px auto;
    padding: 70px 150px;
    display:flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    border-radius: 12px;
    background-image: url(./images/mauve\ background.jpg);
    background-size: cover;
 }
 .center h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--bg-color);
 }
 .center p{
    font-size: var(--p-font);
    color: var(--bg-color);
    line-height: 26px;
    margin-bottom: 25px;
 }
 .announcement .action form textarea[type="text"]{

    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    background: #ffffff;
    color:#000;
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
 }
 .announcement .action form button[type="submit"]{
    padding: 12px 15px;
    background: #a6b1e1;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
    cursor: pointer;
 }
 @media(max-width:1425px){
    section{
        padding: 70px 3%;
        transition: .3s;
     }
     .contact{
        width: 95%;
        transition: .3s;
     }
    }
 @media(max-width:800px){
    section{
        padding: 65px 3%;
        transition: .3s;
     }
  }
 @media(max-width:540px){
    .contact .action form input[type="email"]{
       width:310px
    }
 }