body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
}
h1 {
    text-align: center;
    color: #333;
}
.announcement-card {
    background-color: #00316e;;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
}
.announcement-card .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.announcement-card .date {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.announcement-card .content {
    font-weight: bold;
    margin-top: 5px;
}
@media screen and (max-width: 600px) {
    /* Responsive styles for smaller screens */
    .announcement-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .announcement-card .icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 600px) {
    /* Responsive styles for smaller screens */
    .announcement-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .announcement-card .icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}