 @import url('https//fonts.googleapis.com/css2?family=Poppins:wgt@100;200;300;400;500;600;700&display=swap');
 :root{
    --blue:#00316e;
    --black:#444;
    --light-color:#fdfcfa;
    --box-shadow:.5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow:.4rem .4rem 0 rgba(0,0,0,.2);
    --border:.2rem solid  var(--blue);

 }
 *{
    font-family:'Poppins',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
 }
  html{
    font-size:62.5%;
    overflow: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
  }
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.row.image{
    flex:1 1 45rem ;
    width : 10cm;
    height: 7cm;
}
.row.image img{
     width : 10cm;
    height: 7cm;
}
.btn{
    display: block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}
.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--blue);
    color: #fff;
    margin-left: .5rem;
}
.btn:hover{
     color:var(--blue);
     background: #fff;
     margin-left: 1rem;
}
.btn:hover span{
    background:var(--blue);
    color: #fff;
}
.row form{
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    /* margin: 3rem; */
    width: 100%;
    
}
 .row form h3{
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
 }
 .row form .box{
    width: 100%;
   
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
 }
 .row form .btn{
    padding: 1rem 4rem;
 }
 /* @media(max-width:991px)
 {
    html{
        font-size: 55%;
    }
 }
 @media(max-width:768px)
 {
    
 }
 @media(max-width:450px)
 {
    html{
        font-size: 50%;
    }
 } */