.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: -10px;
    z-index: 9999;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    float: left;
    display: block;
    color: #484da0;
    text-align: center;
    padding: 30px 10px 10px;
    margin: 8px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.navbar li a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #02309b;
    transition: width 0.3s ease-out;
}

.navbar li a:hover::after {
    width: 100%;
}

.logo-image {
    padding-left: 50px;
    padding-right: 200px;
    height: 90px;
    width: 330px;
}

.logo-scroll {
    padding-left: 180px;
    height: 80px;
    width: 96px;
    padding-right: 300px;
}

.nav_btn i {
    margin: 3px;
    padding: 4px;
    font-size: 30px;
    position: fixed;
    top: 26px;
    right: 124px;
    outline: none;
    border: 3px solid #484da0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #484da0;
    background: #ffffff;
}

body {
    margin-top: 70px;
}

.nav_btn button {
    margin: 3px;
    padding: 7px;
    font-size: 20px;
    position: fixed;
    top: 26px;
    right: 24px;
    outline: none;
    border: 3px solid #484da0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #484da0;
    background: #ffffff;
}

.navbar .icon1 {
    display: none;
}

/* Media Query for Responsive Navbar */
@media screen and (max-width: 1024px) {
    .navbar li:not(:first-child) {
        display: none;
    }

    .navbar .nav_btn {
        display: none;
    }

    .navbar .icon1 {
        display: block;
        position: absolute;
        font-size: 34px;
        top: 50%;
        color: #484da0;
        transform: translateY(-50%);
        right: 40px;
    }

    .navbar.responsive .icon1 {
        top: 26px;
    }

    .navbar.responsive li {
        display: block;
        float: none;
    }

    .navbar.responsive li a {
        padding: 10px;
        text-align: center;
    }

    .navbar.responsive .nav_btn {
        display: block;
        position: relative;
        float: none;
        margin-top: 20px;
    }
}

.navbar .icon2 {
    display: none;
}


/* Media Query for Responsive Navbar */
@media screen and (max-width: 1024px) {
    .navbar li:not(:first-child) {
        display: none;
    }

    .navbar .nav_btn {
        display: none;
    }

    .navbar .icon2 {
        display: block;
        position: absolute;
        font-size: 34px;
        top: 50%;
        color: #484da0;
        transform: translateY(-50%);
        right: 40px;
    }

    .navbar.responsive .icon2 {
        top: 26px;
    }

    .navbar.responsive li {
        display: block;
        float: none;
    }

    .navbar.responsive li a {
        padding: 10px;
        text-align: center;
    }

    .navbar.responsive .nav_btn {
        display: block;
        position: relative;
        float: none;
        margin-top: 20px;
    }
}