
        :root {
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning: #ffbb55;
    --color-white:#fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark:#363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}
::-webkit-scrollbar{
    display: none  ;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'BW Gradual Bold';
    font-size: 0.88rek;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    padding: .3rem;
}

.transition-fade{
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
}

html.is-animating .transition-fade{
    opacity: 1;
    transform: translateX(100%);
    transform-origin: left;
}

html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateX(0);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;

}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
    text-align: right;
    margin-right: 3%;
}

p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
}
/* aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    position: fixed;
} */


aside .close{
    display: none;
}

/* ====================== SIDEBAR ============== */
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    position: fixed;
    top: 3rem;
}

aside h3{
    font-weight: 500;    
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    margin-top: 2rem;
}

aside .sidebar a i{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background: darkblue;
}

aside .sidebar a.active i{
    color: darkblue;
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: darkblue;
}

aside .sidebar a:hover i{
    margin-left: 1rem;
}



/* ------------------- MAIN ---------------- */

main{
    margin-top: 1.4rem;
    margin-left: 10%;
    width: 110%;
}


main .insights{
    display: block;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div i{
    background-color: var(--color-primary);
    padding: .5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

label{
    font-weight: 800;
    font-size: 1.8rem;
}
/* ------------- MEDIA QUERIES/BREAKPOINTS --------------- */

@media screen and (max-width: 1200px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

  
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }
    aside .logo{
        margin-left: 1rem;
    }

    .aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }
    
    .aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

}

.card {
  width: 430px;
  padding-left: 100px;

  background-color: #fff;
}

/* Other styles remain the same */


.card form label {
  display: block;
  margin-bottom: 6px;
}

.card form input[type="text"],
.card form input[type="password"],
.card form button {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* This ensures padding is included in the width */
  font-size: 16px;
}

.card form {
    padding-left:120px;
    padding-right:0px;
}

.btn {
    color: white;
    padding: 15px 25px;
    margin: 9px 0;
    border: none;
    /* cursor: pointer; */
    width: 100%;
    background-color: #484da0;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}
